@charset "UTF-8";
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato_light.woff2") format("woff2"), url("../fonts/lato_light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato_regular.woff2") format("woff2"), url("../fonts/lato_regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/lato_black.woff2") format("woff2"), url("../fonts/lato_black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato_bold.woff2") format("woff2"), url("../fonts/lato_bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Bold-Italic';
  src: url("../fonts/lato_bold_italic.woff2") format("woff2"), url("../fonts/lato_bold_italic.woff") format("woff");
}
@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/lato_heavy.woff2") format("woff2"), url("../fonts/lato_heavy.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro-BlackCond';
  src: url("../fonts/myriadpro-blackcond.woff2") format("woff2"), url("../fonts/myriadpro-blackcond.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Bernadette';
  src: url("../fonts/Bernadette.woff2") format("woff2"), url("../fonts/Bernadette.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "BerlinSansFBDemi-Bold";
  src: url("../fonts/BRLNSDB.woff") format("woff"), url("../fonts/BRLNSDB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #040404;
  font-family: "Lato-Light";
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: #333332;
  font-family: Bernadette;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
}
@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }
}

.btn {
  color: #ffffff;
  font-family: Lato-Bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 10px 25px;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: all 0.3s;
  text-decoration: none;
  outline: transparent;
}
.btn:hover, .btn:focus {
  background-image: linear-gradient(to left, #de813c 0%, #3f519a 100%);
  color: #000;
}

.icon-facebook {
  width: 19px;
  height: 35px;
}

.icon-google-plus {
  width: 43px;
  height: 28px;
}

.icon-vk {
  width: 39px;
  height: 23px;
}

.icon-youtube {
  width: 31px;
  height: 37px;
}

.icon-linkedin {
  width: 32px;
  height: 31px;
}

.icon-digg {
  width: 43px;
  height: 26px;
}

.icon-deviantart {
  width: 21px;
  height: 35px;
}

.header {
  height: 100vh;
  padding: 25px 0;
  background-image: url(../images/bg-top-min.png), url(../images/bg-grd-min.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0 40px;
  margin-bottom: 133px;
}
.header__logo {
  display: inline-block;
  color: #ffffff;
  font-family: "Lato-Heavy";
  font-size: 56px;
  font-weight: 400;
  position: relative;
}
.header__logo::before {
  content: "";
  position: absolute;
  right: -14px;
  bottom: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fba419;
}
.header__menu-burger {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.header__menu-burger.active .top {
  transform: rotate(46deg);
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
}
.header__menu-burger.active .middle {
  opacity: 0;
}
.header__menu-burger.active .bottom {
  transform: rotate(-46deg);
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
}
@media (max-width: 768px) {
  .header__menu-burger {
    display: flex;
  }
}
.header__menu-btn {
  display: block;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
  z-index: 2;
}
.header__menu-btn:focus {
  background-color: #000;
}
.header__menu-list {
  display: flex;
}
@media (max-width: 768px) {
  .header__menu-list {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    top: -16px;
    color: #000;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
}
@media (min-width: 769px) {
  .header__menu-list {
    display: flex !important;
  }
}
.header__menu-item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Lato-Regular;
  font-weight: 700;
}
.header__menu-item + .header__menu-item {
  margin-left: 35px;
}
@media (max-width: 979px) {
  .header__menu-item + .header__menu-item {
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .header__menu-item + .header__menu-item {
    margin-left: 0;
  }
}
.header__menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s;
  outline: transparent;
}
.header__menu-link:hover, .header__menu-link:focus {
  color: #000;
}
@media (max-width: 768px) {
  .header__menu-link {
    color: #000;
    display: block;
    padding: 20px 0;
  }
}
.header__inner {
  position: relative;
}
.header__title {
  color: #ffffff;
  font-family: Bernadette;
  font-size: 111px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -5.5px;
}
@media (max-width: 768px) {
  .header__title {
    font-size: 80px;
  }
}
@media (max-width: 480px) {
  .header__title {
    font-size: 50px;
  }
}
.header__subtitle {
  color: #ffffff;
  font-family: Lato-Bold;
  font-size: 37px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
@media (max-width: 480px) {
  .header__subtitle {
    font-size: 20px;
    margin-bottom: 21px;
  }
}
.header__text {
  color: #ffffff;
  max-width: 640px;
  margin: 0 auto 58px;
}
.header__btn {
  text-decoration: none;
  padding: 10px 25px;
  color: #020202;
  font-family: Lato-Bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.3s;
  outline: transparent;
}
.header__btn:hover, .header__btn:focus {
  background-color: transparent;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  color: #fff;
}
.header__banner {
  position: absolute;
  bottom: -200px;
  right: 0;
  left: 0;
}
@media (max-width: 768px) {
  .header__banner {
    display: none;
  }
}
.header__items {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}
.header__item {
  position: relative;
  max-width: 372px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 15px;
}
.header__item-img {
  display: block;
  max-width: 372px;
  width: 100%;
  height: 207px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.header__iten-info {
  padding: 27px 60px 40px;
}
@media (max-width: 1170px) {
  .header__iten-info {
    padding: 27px 10px 40px;
  }
}
.header__item-title {
  margin: 0;
  color: #333332;
  font-family: Lato-Bold;
  font-size: 25px;
  letter-spacing: 0.61px;
  margin-bottom: 25px;
}
.header__item-text {
  margin: 0;
  color: #040404;
  font-family: Lato-Light;
  font-size: 16px;
  line-height: 24px;
}
.header__item-btn {
  position: absolute;
  bottom: -20px;
  max-width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.about {
  background: url(../images/bg-test-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 325px;
}
@media (max-width: 1170px) {
  .about {
    background: none;
  }
}
@media (max-width: 768px) {
  .about {
    margin-top: 0;
  }
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
@media (max-width: 768px) {
  .about__wrapper {
    display: block;
    padding: 0;
  }
}
.about__item {
  max-width: 385px;
}
@media (max-width: 1170px) {
  .about__item {
    max-width: 49%;
  }
}
@media (max-width: 768px) {
  .about__item {
    max-width: 100%;
  }
}
.about__text {
  color: #040404;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato-Light";
  font-weight: 300;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
@media (max-width: 480px) {
  .about__text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
.about__text--bold {
  font-family: Lato-Bold;
  letter-spacing: 0.45px;
}
.about__btn {
  margin-left: 15px;
}
.about__text--italic {
  margin-top: 65px;
  margin-bottom: 40px;
  color: #040404;
  font-family: Lato-Bold-Italic;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
  position: relative;
}
@media (max-width: 480px) {
  .about__text--italic {
    font-size: 14px;
    line-height: 25px;
    margin-top: 30px;
  }
}
.about__text--italic::before {
  content: "“";
  position: absolute;
  font-family: BerlinSansFBDemi-Bold;
  color: #333332;
  font-size: 226px;
  font-weight: 700;
  letter-spacing: -1.58px;
  left: -106px;
  top: 33px;
}
@media (max-width: 768px) {
  .about__text--italic::before {
    content: none;
  }
}
.about__autor {
  margin-left: 46px;
  color: #333332;
  font-family: Bernadette;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: -1.58px;
}

.features {
  margin-top: 121px;
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .features {
    margin-top: 50px;
  }
}
.features__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features__img {
  margin-bottom: 23px;
  max-width: 568px;
  width: 100%;
  height: 365px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 1170px) {
  .features__img {
    display: none;
  }
}
.features__item {
  position: absolute;
  padding: 33px 40px;
  background-color: #fff;
  display: block;
  text-align: center;
  max-width: 727px;
  width: 100%;
  min-height: 368px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1170px) {
  .features__item {
    position: sticky;
    top: 0;
    left: 0;
    margin-right: 0;
    transform: none;
    max-width: 100%;
    min-height: auto;
  }
}
.features__title {
  margin: 0;
  margin-bottom: 17px;
}
.features__text {
  color: #040404;
  font-family: Lato-Bold-Italic;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .features__text {
    font-size: 14px;
    line-height: 25px;
  }
}

.services {
  background-color: #f4f4f4;
  background-image: url(../images/bg-services-min.jpg);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 40% 100%;
  padding: 86px 0 73px;
}
@media (max-width: 979px) {
  .services {
    background-image: none;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 50px 0;
  }
}
.services__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .services__wrapper {
    display: block;
  }
}
.services__info {
  max-width: 486px;
  margin-right: 92px;
}
@media (max-width: 979px) {
  .services__info {
    max-width: 356px;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .services__info {
    max-width: 100%;
    margin: 0 0 25px;
    text-align: center;
  }
}
.services__title {
  margin: 0;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .services__title {
    text-align: center;
  }
}
.services__text {
  margin-bottom: 45px;
  line-height: 30px;
}
@media (max-width: 480px) {
  .services__text {
    line-height: 25px;
  }
}
.services__text--bold {
  display: block;
  max-width: 435px;
  font-family: "Lato-Regular";
  font-weight: 400;
  letter-spacing: 0.45px;
}
@media (max-width: 768px) {
  .services__text--bold {
    max-width: 100%;
  }
}
.services__btn {
  margin-left: 7px;
}
.services__list {
  list-style: none;
  margin: 0;
  padding: 25px;
  max-width: 355px;
  width: 100%;
  max-height: 473px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #646464;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services__list {
    margin: 0 auto;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 140px;
  width: 50%;
  color: #fff;
  font-family: "Lato-Heavy";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-align: center;
  position: relative;
  padding: 0 20px 18px;
}
.services__item::before {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
}
@media (max-width: 480px) {
  .services__item {
    font-size: 14px;
    padding: 0 15px 18px;
  }
}
.services__item-1 {
  border-right: 2px dotted rgba(255, 255, 255, 0.1);
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}
.services__item-1::before {
  content: url(../images/icon-1.png);
}
.services__item-2 {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}
.services__item-2::before {
  content: url(../images/Icon-2.png);
}
.services__item-3 {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
  border-right: 2px dotted rgba(255, 255, 255, 0.1);
}
.services__item-3::before {
  content: url(../images/Icon-3.png);
}
.services__item-4 {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}
.services__item-4::before {
  content: url(../images/icon-1.png);
}
.services__item-5 {
  border-right: 2px dotted rgba(255, 255, 255, 0.1);
}
.services__item-5::before {
  content: url(../images/icon-5.png);
}
.services__item-6::before {
  content: url(../images/icon-6.png);
}

.team {
  padding: 100px 0 67px;
  text-align: center;
}
@media (max-width: 768px) {
  .team {
    padding: 50px 0;
  }
}
.team__title {
  margin: 0;
  margin-bottom: 46px;
}
.team__text {
  color: #313131;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin-bottom: 70px;
}
@media (max-width: 480px) {
  .team__text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
.team__items {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
.team__items::before {
  content: "";
  position: absolute;
  width: 1296px;
  height: 317px;
  background-color: #f4f4f4;
  z-index: -1;
  margin-left: -65px;
  bottom: -55px;
}
@media (max-width: 1296px) {
  .team__items::before {
    content: none;
  }
}
.team__item {
  margin: 5px;
}
@media (max-width: 768px) {
  .team__item {
    margin-bottom: 15px;
  }
}
.team__img {
  width: 218px;
  height: 273px;
  border-radius: 10px;
  margin-bottom: 46px;
  object-fit: cover;
}
@media (max-width: 979px) {
  .team__img {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .team__img {
    margin-bottom: 5px;
  }
}
.team__name {
  margin: 0;
  color: #333332;
  font-family: Lato-Regular;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.61px;
}
.team__web {
  color: #a3a3a3;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.member-page {
  padding: 64px 0 128px;
  position: relative;
}
@media (max-width: 1296px) {
  .member-page {
    position: sticky;
    padding: 0;
  }
}
.member-page__disigner {
  max-width: 486px;
}
@media (max-width: 1296px) {
  .member-page__disigner {
    max-width: 100%;
  }
}
.member-page__title {
  margin: 47px 0 0 12px;
}
.member-page__subtitle {
  color: #505050;
  font-family: Lato-Bold;
  font-size: 22px;
  line-height: 33.29px;
  letter-spacing: 0.5px;
}
.member-page__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 70px;
}
@media (max-width: 1296px) {
  .member-page__text {
    margin-bottom: 30px;
  }
}
.member-page__item {
  margin-bottom: 45px;
}
@media (max-width: 1296px) {
  .member-page__item {
    margin-bottom: 20px;
  }
}
.member-page__name {
  margin: 0;
  margin-bottom: 20px;
  color: #333332;
  font-family: Lato-Regular;
  font-size: 25px;
  letter-spacing: 0.61px;
}
.member-page__achieves {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.member-page__achiev {
  text-align: right;
  display: block;
  height: 14px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  background-color: #fba419;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
}
.member-page__precent {
  position: absolute;
  color: #333332;
  font-family: "Lato-Black";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.61px;
  margin-bottom: 5px;
  right: 0;
  top: -15px;
}
.member-page__full {
  display: block;
  width: 100%;
  height: 14px;
  border-radius: 7px;
  background-color: #e0e0e0;
}
.member-page__inner {
  position: absolute;
  width: 50vw;
  top: 64px;
  right: 0;
  display: flex;
}
@media (max-width: 1296px) {
  .member-page__inner {
    position: sticky;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .member-page__inner {
    display: block;
  }
}
.member-page__img {
  object-fit: cover;
  max-width: 426px;
  min-height: 725px;
}
@media (max-width: 1600px) {
  .member-page__img {
    max-width: 335px;
  }
}
@media (max-width: 1296px) {
  .member-page__img {
    min-height: 580px;
  }
}
@media (max-width: 768px) {
  .member-page__img {
    max-width: 50%;
    min-height: auto;
  }
}
@media (max-width: 480px) {
  .member-page__img {
    max-width: 100%;
  }
}
.member-page__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 65px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #b19c93;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
}
@media (max-width: 1600px) {
  .member-page__info {
    padding: 15px;
  }
}
.member-page__info-text {
  color: #ffffff;
  font-size: 18px;
  max-width: 330px;
  width: 100%;
  line-height: 30px;
  letter-spacing: 0.45px;
}
.member-page__text--bold {
  font-family: Lato-Medium;
  font-size: 21px;
  letter-spacing: 0.53px;
}
.member-page__icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.member-page__link {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  transition: all 0.3s;
}
.member-page__link:hover, .member-page__link:focus {
  outline: transparent;
  background-color: transparent;
  background-image: linear-gradient(-50deg, #de813c 0%, #3f519a 100%);
  box-shadow: 0px 0px 16px 5px rgba(255, 255, 255, 0.3);
  fill: #fff;
}
@media (max-width: 768px) {
  .member-page__link {
    width: 45px;
    height: 45px;
  }
}

.price {
  padding: 94px 0 105px;
  background-color: #f4f4f4;
  position: relative;
}
.price::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 100%;
  top: 0;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #b19c93;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
}
@media (max-width: 1170px) {
  .price::before {
    content: none;
  }
}
@media (max-width: 480px) {
  .price {
    padding: 50px 0;
  }
}
.price__wrapper {
  display: flex;
}
@media (max-width: 1170px) {
  .price__wrapper {
    display: block;
  }
}
.price__list {
  z-index: 1;
  margin-left: -34px;
  display: flex;
  text-align: center;
  max-width: 762px;
  width: 100%;
  margin-right: 80px;
}
@media (max-width: 1600px) {
  .price__list {
    margin-right: 25px;
  }
}
@media (max-width: 1296px) {
  .price__list {
    margin-left: 40px;
    max-width: 610px;
  }
}
@media (max-width: 1170px) {
  .price__list {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .price__list {
    display: block;
    max-width: 100%;
  }
}
.price__professional {
  width: 50%;
  max-height: 587px;
  padding: 40px 35px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}
@media (max-width: 1600px) {
  .price__professional {
    padding: 25px;
  }
}
@media (max-width: 480px) {
  .price__professional {
    width: 100%;
  }
}
.price__professional-title {
  letter-spacing: -1.58px;
  margin: 0;
}
.price__professional-subtitile {
  color: #333332;
  font-family: Lato-Bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  display: block;
}
.price__professional-price {
  background: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  color: #333332;
  font-family: "MyriadPro-BlackCond";
  font-size: 107px;
  font-weight: 400;
  letter-spacing: -1.23px;
}
@media (max-width: 768px) {
  .price__professional-price {
    font-size: 50px;
  }
}
.price__professional-over {
  color: #333332;
  font-family: Lato-Bold;
  font-size: 25px;
  letter-spacing: 0.61px;
}
@media (max-width: 768px) {
  .price__professional-over {
    margin: 0;
  }
}
.price__professional-text {
  color: #040404;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
}
@media (max-width: 768px) {
  .price__professional-text {
    font-size: 16px;
    line-height: 25px;
  }
}
.price__best {
  width: 50%;
  max-height: 587px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #b19c93;
  background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
  padding: 50px;
  color: #fff;
}
@media (max-width: 1600px) {
  .price__best {
    padding: 25px;
  }
}
@media (max-width: 480px) {
  .price__best {
    width: 100%;
  }
}
.price__best-title {
  font-family: MyriadPro-BlackCond;
  margin: 50px 0 10px;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.83px;
}
@media (max-width: 768px) {
  .price__best-title {
    margin: 0;
    font-size: 50px;
  }
}
.price__best-subtitle {
  display: block;
  font-family: Lato-Bold;
  font-size: 25px;
  letter-spacing: 0.61px;
  margin-bottom: 32px;
}
.price__best-list {
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-bottom: 76px;
}
@media (max-width: 768px) {
  .price__best-list {
    margin-left: 20px;
    margin-bottom: 50px;
  }
}
.price__best-item {
  font-family: Lato-Regular;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  position: relative;
}
.price__best-item::before {
  content: url("../images/icons/check.svg");
  position: absolute;
  left: -30px;
  top: 0;
  height: 20px;
  width: 20px;
}
@media (max-width: 768px) {
  .price__best-item {
    margin-bottom: 10px;
  }
}
.price__info {
  max-width: 500px;
  width: 100%;
  margin-right: -150px;
}
@media (max-width: 1600px) {
  .price__info {
    margin-right: 0;
  }
}
@media (max-width: 1296px) {
  .price__info {
    max-width: 400px;
  }
}
@media (max-width: 1170px) {
  .price__info {
    max-width: 100%;
    text-align: center;
  }
}
.price__info-title {
  letter-spacing: -1.58px;
  max-width: 361px;
  margin: 51px 0 41px;
}
@media (max-width: 1170px) {
  .price__info-title {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .price__info-title {
    margin: 15px 0;
  }
}
.price__info-text--bold {
  font-family: Lato-Bold;
  letter-spacing: 0.45px;
}
.price__info-text {
  color: #040404;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .price__info-text {
    font-size: 16px;
    line-height: 25px;
  }
}

.get-it {
  background-color: #000;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to right, rgba(222, 129, 60, 0.82) 0%, rgba(63, 81, 154, 0.82) 100%), url(../images/bg-social-min.png);
  min-height: 389px;
  padding: 90px 0;
}
@media (max-width: 979px) {
  .get-it {
    min-height: auto;
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .get-it {
    padding: 25px 0;
  }
}
.get-it__wrapper {
  text-align: center;
}
.get-it__title {
  color: #fff;
}
.get-it__lits {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
@media (max-width: 480px) {
  .get-it__lits {
    flex-wrap: wrap;
  }
}
.get-it__item {
  margin: 0 20px;
}
@media (max-width: 768px) {
  .get-it__item {
    margin: 0 5px;
  }
}
.get-it__link {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  border: 3px solid #ffffff;
}
.get-it__link:hover, .get-it__link:focus {
  outline: transparent;
  background-color: transparent;
  background-image: linear-gradient(-50deg, #de813c 0%, #3f519a 100%);
  box-shadow: 0px 0px 16px 5px rgba(255, 255, 255, 0.3);
}
@media (max-width: 979px) {
  .get-it__link {
    width: 55px;
    height: 55px;
  }
}

.footer {
  padding: 70px 0;
}
.footer__address {
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .footer__address {
    flex-direction: column;
  }
}
.footer__icon {
  position: relative;
}
.footer__icon::before {
  position: absolute;
  top: 5px;
  left: 0;
}
.footer__title {
  text-transform: uppercase;
  color: #494949;
  font-family: Lato-Bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 0;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 0;
  }
}
.footer__link {
  text-decoration: none;
  color: #494949;
  font-family: Lato-Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: all 0.3s;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__emails {
  max-width: 245px;
  padding-left: 82px;
}
.footer__emails::before {
  content: url(../images/email.png);
}
@media (max-width: 768px) {
  .footer__emails {
    margin-bottom: 20px;
    padding-left: 60px;
  }
}
.footer__phones {
  max-width: 190px;
  padding-left: 72px;
}
.footer__phones::before {
  content: url(../images/phone.png);
}
@media (max-width: 768px) {
  .footer__phones {
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  .footer__phones {
    margin-bottom: 20px;
  }
}
.footer__map {
  max-width: 282px;
  padding-left: 82px;
}
.footer__map::before {
  content: url(../images/map.png);
}
@media (max-width: 768px) {
  .footer__map {
    padding-left: 60px;
  }
}
