@import "fonts";
@import "media_mixin.scss";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #040404;
    font-family: "Lato-Light";
    font-size: 16px;
    font-weight: 300;

    @include _480 {
        font-size: 14px;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: #333332;
    font-family: Bernadette;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.58px;

    @include _480 {
        font-size: 30px;
    }
}

.btn {
    color: #ffffff;
    font-family: Lato-Bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 10px 25px;
    background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    outline: transparent;

    &:hover,
    &:focus {
        background-image: linear-gradient(to left, #de813c 0%, #3f519a 100%);
        color: #000;
    }
}

.icon-facebook {
    width: 19px;
    height: 35px;
}

.icon-google-plus {
    width: 43px;
    height: 28px;
}

.icon-vk {
    width: 39px;
    height: 23px;
}

.icon-youtube {
    width: 31px;
    height: 37px;
}

.icon-linkedin {
    width: 32px;
    height: 31px;
}

.icon-digg {
    width: 43px;
    height: 26px;
}

.icon-deviantart {
    width: 21px;
    height: 35px;
}

.header {
    height: 100vh;
    padding: 25px 0;
    background-image: url(../images/bg-top-min.png), url(../images/bg-grd-min.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        margin: 0 40px;
        margin-bottom: 133px;
    }

    &__logo {
        display: inline-block;
        color: #ffffff;
        font-family: "Lato-Heavy";
        font-size: 56px;
        font-weight: 400;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            right: -14px;
            bottom: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fba419;
        }
    }

    &__menu-burger {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;

        &.active {
            .top {
                transform: rotate(46deg);
                background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
            }

            .middle {
                opacity: 0;
            }

            .bottom {
                transform: rotate(-46deg);
                background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
            }
        }

        @include _768 {
            display: flex;
        }
    }

    &__menu-btn {
        display: block;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        margin: 3px 0px;
        transform-origin: left;
        transition: all 0.5s;
        z-index: 2;

        &:focus {
            background-color: #000;
        }
    }

    &__menu-list {
        display: flex;

        @include _768 {
            display: none;
            position: absolute;
            width: 100%;
            right: 0;
            margin: 0;
            padding: 0;
            top: -16px;
            color: #000;
            padding-top: 100px;
            background-color: rgba(#fff, 0.7);
            z-index: 1;
        }

        @include _m769 {
            display: flex !important;
        }
    }

    &__menu-item {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Lato-Regular;
        font-weight: 700;

        &+& {
            margin-left: 35px;

            @include _979 {
                margin-left: 10px;
            }

            @include _768 {
                margin-left: 0;
            }
        }
    }

    &__menu-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s;
        outline: transparent;

        &:hover,
        &:focus {
            color: #000;
        }

        @include _768 {
            color: #000;
            display: block;
            padding: 20px 0;
        }
    }

    &__inner {
        position: relative;
    }

    &__title {
        color: #ffffff;
        font-family: Bernadette;
        font-size: 111px;
        font-weight: 400;
        margin-bottom: 10px;
        letter-spacing: -5.5px;

        @include _768 {
            font-size: 80px;
        }

        @include _480 {
            font-size: 50px;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-family: Lato-Bold;
        font-size: 37px;
        margin-bottom: 40px;
        letter-spacing: 1px;

        @include _480 {
            font-size: 20px;
            margin-bottom: 21px;
        }
    }

    &__text {
        color: #ffffff;
        max-width: 640px;
        margin: 0 auto 58px;
    }

    &__btn {
        text-decoration: none;
        padding: 10px 25px;
        color: #020202;
        font-family: Lato-Bold;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 20px;
        transition: all 0.3s;
        outline: transparent;

        &:hover,
        &:focus {
            background-color: transparent;
            background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
            color: #fff;
        }
    }

    &__banner {
        position: absolute;
        bottom: -200px;
        right: 0;
        left: 0;

        @include _768 {
            display: none;
        }
    }

    &__items {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        max-width: 372px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        background-color: #ffffff;
        margin: 0 15px;
    }

    &__item-img {
        display: block;
        max-width: 372px;
        width: 100%;
        height: 207px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    &__iten-info {
        padding: 27px 60px 40px;

        @include _1170 {
            padding: 27px 10px 40px;
        }
    }

    &__item-title {
        margin: 0;
        color: #333332;
        font-family: Lato-Bold;
        font-size: 25px;
        letter-spacing: 0.61px;
        margin-bottom: 25px;
    }

    &__item-text {
        margin: 0;
        color: #040404;
        font-family: Lato-Light;
        font-size: 16px;
        line-height: 24px;
    }

    &__item-btn {
        position: absolute;
        bottom: -20px;
        max-width: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.about {
    background: url(../images/bg-test-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 325px;

    @include _1170 {
        background: none;
    }

    @include _768 {
        margin-top: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;

        @include _768 {
            display: block;
            padding: 0;
        }
    }

    &__item {
        max-width: 385px;

        @include _1170 {
            max-width: 49%;
        }

        @include _768 {
            max-width: 100%;
        }
    }

    &__text {
        color: #040404;
        font-family: Lato;
        font-size: 18px;
        line-height: 30px;
        font-family: "Lato-Light";
        font-weight: 300;
        letter-spacing: 0.45px;
        margin-bottom: 45px;

        @include _480 {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 20px;
        }
    }

    &__text--bold {
        font-family: Lato-Bold;
        letter-spacing: 0.45px;
    }

    &__btn {
        margin-left: 15px;
    }

    &__text--italic {
        margin-top: 65px;
        margin-bottom: 40px;
        color: #040404;
        font-family: Lato-Bold-Italic;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.45px;
        position: relative;

        @include _480 {
            font-size: 14px;
            line-height: 25px;
            margin-top: 30px;
        }

        &::before {
            content: "“";
            position: absolute;
            font-family: BerlinSansFBDemi-Bold;
            color: #333332;
            font-size: 226px;
            font-weight: 700;
            letter-spacing: -1.58px;
            left: -106px;
            top: 33px;
        }

        @include _768 {
            &::before {
                content: none;
            }
        }
    }

    &__autor {
        margin-left: 46px;
        color: #333332;
        font-family: Bernadette;
        font-size: 47px;
        font-weight: 400;
        letter-spacing: -1.58px;
    }
}

.features {
    margin-top: 121px;
    margin-bottom: 50px;

    @include _1170 {
        margin-top: 50px;
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__img {
        margin-bottom: 23px;
        max-width: 568px;
        width: 100%;
        height: 365px;
        object-fit: cover;
        border-radius: 10px;

        @include _1170 {
            display: none;
        }
    }

    &__item {
        position: absolute;
        padding: 33px 40px;
        background-color: #fff;
        display: block;
        text-align: center;
        max-width: 727px;
        width: 100%;
        min-height: 368px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @include _1170 {
            position: sticky;
            top: 0;
            left: 0;
            margin-right: 0;
            transform: none;
            max-width: 100%;
            min-height: auto;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 17px;
    }

    &__text {
        color: #040404;
        font-family: Lato-Bold-Italic;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.45px;
        margin-bottom: 40px;

        @include _480 {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

.services {
    background-color: #f4f4f4;
    background-image: url(../images/bg-services-min.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 40% 100%;
    padding: 86px 0 73px;

    @include _979 {
        background-image: none;
    }

    @include _768 {
        padding: 50px 0;
    }

    &__wrapper {
        display: flex;

        @include _768 {
            display: block;
        }
    }

    &__info {
        max-width: 486px;
        margin-right: 92px;

        @include _979 {
            max-width: 356px;
            margin-right: 30px;
        }

        @include _768 {
            max-width: 100%;
            margin: 0 0 25px;
            text-align: center;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 28px;

        @include _768 {
            text-align: center;
        }
    }

    &__text {
        margin-bottom: 45px;
        line-height: 30px;

        @include _480 {
            line-height: 25px;
        }
    }

    &__text--bold {
        display: block;
        max-width: 435px;
        font-family: "Lato-Regular";
        font-weight: 400;
        letter-spacing: 0.45px;

        @include _768 {
            max-width: 100%;
        }
    }

    &__btn {
        margin-left: 7px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 25px;
        max-width: 355px;
        width: 100%;
        max-height: 473px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        background-color: #646464;
        background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: wrap;

        @include _768 {
            margin: 0 auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 140px;
        width: 50%;
        color: #fff;
        font-family: "Lato-Heavy";
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.42px;
        text-align: center;
        position: relative;
        padding: 0 20px 18px;

        &::before {
            position: absolute;
            top: 22px;
            left: 0;
            right: 0;
        }

        @include _480 {
            font-size: 14px;
            padding: 0 15px 18px;
        }
    }

    &__item-1 {
        border-right: 2px dotted rgba(#fff, 0.1);
        border-bottom: 2px dotted rgba(#fff, 0.1);

        &::before {
            content: url(../images/icon-1.png);
        }
    }

    &__item-2 {
        border-bottom: 2px dotted rgba(#fff, 0.1);

        &::before {
            content: url(../images/Icon-2.png);
        }
    }

    &__item-3 {
        border-bottom: 2px dotted rgba(#fff, 0.1);
        border-right: 2px dotted rgba(#fff, 0.1);

        &::before {
            content: url(../images/Icon-3.png);
        }
    }

    &__item-4 {
        border-bottom: 2px dotted rgba(#fff, 0.1);

        &::before {
            content: url(../images/icon-1.png);
        }
    }

    &__item-5 {
        border-right: 2px dotted rgba(#fff, 0.1);

        &::before {
            content: url(../images/icon-5.png);
        }
    }

    &__item-6 {
        &::before {
            content: url(../images/icon-6.png);
        }
    }
}

.team {
    padding: 100px 0 67px;
    text-align: center;

    @include _768 {
        padding: 50px 0;
    }

    &__title {
        margin: 0;
        margin-bottom: 46px;
    }

    &__text {
        color: #313131;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.45px;
        margin-bottom: 70px;

        @include _480 {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;

        &::before {
            content: "";
            position: absolute;
            width: 1296px;
            height: 317px;
            background-color: #f4f4f4;
            z-index: -1;
            margin-left: -65px;
            bottom: -55px;

            @include _1296 {
                content: none;
            }
        }
    }

    &__item {
        margin: 5px;

        @include _768 {
            margin-bottom: 15px;
        }
    }

    &__img {
        width: 218px;
        height: 273px;
        border-radius: 10px;
        margin-bottom: 46px;
        object-fit: cover;

        @include _979 {
            margin-bottom: 15px;
        }

        @include _768 {
            margin-bottom: 5px;
        }
    }

    &__name {
        margin: 0;
        color: #333332;
        font-family: Lato-Regular;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.61px;
    }

    &__web {
        color: #a3a3a3;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }
}

.member-page {
    padding: 64px 0 128px;
    position: relative;

    @include _1296 {
        position: sticky;
        padding: 0;
    }

    &__disigner {
        max-width: 486px;

        @include _1296 {
            max-width: 100%;
        }
    }

    &__title {
        margin: 47px 0 0 12px;
    }

    &__subtitle {
        color: #505050;
        font-family: Lato-Bold;
        font-size: 22px;
        line-height: 33.29px;
        letter-spacing: 0.5px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 70px;

        @include _1296 {
            margin-bottom: 30px;
        }
    }

    &__item {
        margin-bottom: 45px;

        @include _1296 {
            margin-bottom: 20px;
        }
    }

    &__name {
        margin: 0;
        margin-bottom: 20px;
        color: #333332;
        font-family: Lato-Regular;
        font-size: 25px;
        letter-spacing: 0.61px;
    }

    &__achieves {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__achiev {
        text-align: right;
        display: block;
        height: 14px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        background-color: #fba419;
        background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
    }

    &__precent {
        position: absolute;
        color: #333332;
        font-family: "Lato-Black";
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0.61px;
        margin-bottom: 5px;
        right: 0;
        top: -15px;
    }

    &__full {
        display: block;
        width: 100%;
        height: 14px;
        border-radius: 7px;
        background-color: #e0e0e0;
    }

    &__inner {
        position: absolute;
        width: 50vw;
        top: 64px;
        right: 0;
        display: flex;

        @include _1296 {
            position: sticky;
            width: 100%;
        }

        @include _480 {
            display: block;
        }
    }

    &__img {
        object-fit: cover;
        max-width: 426px;
        min-height: 725px;

        @include _1600 {
            max-width: 335px;
        }

        @include _1296 {
            min-height: 580px;
        }

        @include _768 {
            max-width: 50%;
            min-height: auto;
        }

        @include _480 {
            max-width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 65px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #b19c93;
        background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);

        @include _1600 {
            padding: 15px;
        }
    }

    &__info-text {
        color: #ffffff;
        font-size: 18px;
        max-width: 330px;
        width: 100%;
        line-height: 30px;
        letter-spacing: 0.45px;
    }

    &__text--bold {
        font-family: Lato-Medium;
        font-size: 21px;
        letter-spacing: 0.53px;
    }

    &__icons {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__link {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        transition: all 0.3s;

        &:hover,
        &:focus {
            outline: transparent;
            background-color: transparent;
            background-image: linear-gradient(-50deg, #de813c 0%, #3f519a 100%);
            box-shadow: 0px 0px 16px 5px rgba(#fff, 0.3);
            fill: #fff;
        }

        @include _768 {
            width: 45px;
            height: 45px;
        }
    }
}

.price {
    padding: 94px 0 105px;
    background-color: #f4f4f4;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 35%;
        height: 100%;
        top: 0;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #b19c93;
        background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);

        @include _1170 {
            content: none;
        }
    }

    @include _480 {
        padding: 50px 0;
    }

    &__wrapper {
        display: flex;

        @include _1170 {
            display: block;
        }
    }

    &__list {
        z-index: 1;
        margin-left: -34px;
        display: flex;
        text-align: center;
        max-width: 762px;
        width: 100%;
        margin-right: 80px;

        @include _1600 {
            margin-right: 25px;
        }

        @include _1296 {
            margin-left: 40px;
            max-width: 610px;
        }

        @include _1170 {
            margin: 0 auto;
        }

        @include _480 {
            display: block;
            max-width: 100%;
        }
    }

    &__professional {
        width: 50%;
        max-height: 587px;
        padding: 40px 35px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #ffffff;

        @include _1600 {
            padding: 25px;
        }

        @include _480 {
            width: 100%;
        }
    }

    &__professional-title {
        letter-spacing: -1.58px;
        margin: 0;
    }

    &__professional-subtitile {
        color: #333332;
        font-family: Lato-Bold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.5px;
        display: block;
    }

    &__professional-price {
        background: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        color: #333332;
        font-family: "MyriadPro-BlackCond";
        font-size: 107px;
        font-weight: 400;
        letter-spacing: -1.23px;

        @include _768 {
            font-size: 50px;
        }
    }

    &__professional-over {
        color: #333332;
        font-family: Lato-Bold;
        font-size: 25px;
        letter-spacing: 0.61px;

        @include _768 {
            margin: 0;
        }
    }

    &__professional-text {
        color: #040404;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.45px;

        @include _768 {
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__best {
        width: 50%;
        max-height: 587px;
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
        background-color: #b19c93;
        background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
        padding: 50px;
        color: #fff;

        @include _1600 {
            padding: 25px;
        }

        @include _480 {
            width: 100%;
        }
    }

    &__best-title {
        font-family: MyriadPro-BlackCond;
        margin: 50px 0 10px;
        font-size: 72px;
        font-weight: 400;
        letter-spacing: -0.83px;

        @include _768 {
            margin: 0;
            font-size: 50px;
        }
    }

    &__best-subtitle {
        display: block;
        font-family: Lato-Bold;
        font-size: 25px;
        letter-spacing: 0.61px;
        margin-bottom: 32px;
    }

    &__best-list {
        margin: 0;
        margin-left: 50px;
        padding: 0;
        list-style: none;
        text-align: left;
        margin-bottom: 76px;

        @include _768 {
            margin-left: 20px;
            margin-bottom: 50px;
        }
    }

    &__best-item {
        font-family: Lato-Regular;
        font-size: 16px;
        letter-spacing: 0.4px;
        margin-bottom: 15px;
        position: relative;

        &::before {
            content: url("../images/icons/check.svg");
            position: absolute;
            left: -30px;
            top: 0;
            height: 20px;
            width: 20px;
        }

        @include _768 {
            margin-bottom: 10px;
        }
    }

    &__info {
        max-width: 500px;
        width: 100%;
        margin-right: -150px;

        @include _1600 {
            margin-right: 0;
        }

        @include _1296 {
            max-width: 400px;
        }

        @include _1170 {
            max-width: 100%;
            text-align: center;
        }
    }

    &__info-title {
        letter-spacing: -1.58px;
        max-width: 361px;
        margin: 51px 0 41px;

        @include _1170 {
            max-width: 100%;
        }

        @include _480 {
            margin: 15px 0;
        }
    }

    &__info-text--bold {
        font-family: Lato-Bold;
        letter-spacing: 0.45px;
    }

    &__info-text {
        color: #040404;
        font-size: 18px;
        line-height: 30px;

        @include _768 {
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.get-it {
    background-color: #000;
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to right, rgba(222, 129, 60, 0.82) 0%, rgba(63, 81, 154, 0.82) 100%),
        url(../images/bg-social-min.png);
    min-height: 389px;
    padding: 90px 0;

    @include _979 {
        min-height: auto;
        padding: 50px 0;
    }

    @include _480 {
        padding: 25px 0;
    }

    &__wrapper {
        text-align: center;
    }

    &__title {
        color: #fff;
    }

    &__lits {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;

        @include _480 {
            flex-wrap: wrap;
        }
    }

    &__item {
        margin: 0 20px;

        @include _768 {
            margin: 0 5px;
        }
    }

    &__link {
        fill: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 82px;
        height: 82px;
        border: 3px solid #ffffff;

        &:hover,
        &:focus {
            outline: transparent;
            background-color: transparent;
            background-image: linear-gradient(-50deg, #de813c 0%, #3f519a 100%);
            box-shadow: 0px 0px 16px 5px rgba(#fff, 0.3);
        }

        @include _979 {
            width: 55px;
            height: 55px;
        }
    }
}

.footer {
    padding: 70px 0;

    &__address {
        font-style: normal;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @include _480 {
            flex-direction: column;
        }
    }

    &__icon {
        position: relative;

        &::before {
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

    &__title {
        text-transform: uppercase;
        color: #494949;
        font-family: Lato-Bold;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.42px;
        margin: 0;
        margin-bottom: 15px;

        @include _768 {
            margin-bottom: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: #494949;
        font-family: Lato-Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__emails {
        max-width: 245px;
        padding-left: 82px;

        &::before {
            content: url(../images/email.png);
        }

        @include _768 {
            margin-bottom: 20px;
            padding-left: 60px;
        }
    }

    &__phones {
        max-width: 190px;
        padding-left: 72px;

        &::before {
            content: url(../images/phone.png);
        }

        @include _768 {
            padding-left: 50px;
        }

        @include _480 {
            margin-bottom: 20px;
        }
    }

    &__map {
        max-width: 282px;
        padding-left: 82px;

        &::before {
            content: url(../images/map.png);
        }

        @include _768 {
            padding-left: 60px;
        }
    }
}